@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:regular,500&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #421515;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #fff8f7;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 85rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button,
.button-accent {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.25rem 1.5625rem;
  border: 1px solid #000;
  border-radius: 0.4375rem;
  font-size: 1rem;
  background-color: #fff8f7;
  color: #421515;
}

.button._fw {
  width: 100%;
}

.button:not(:last-child) {
  margin-right: 1.375rem;
}

.button-accent {
  color: #fff;
  background-color: #421515;
}

.button-accent._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: "Cormorant Garamond";
  font-size: 3.125rem;
}

.link-line:link {
  text-decoration: underline;
}

.link-line:hover {
  color: inherit;
}

.collapsed {
  font-size: 1.25rem;
  background-color: inherit;
}

.text-small {
  font-size: 0.875rem;
  color: #c1bebe;
}

.header__logo {
  font-family: "Cormorant Garamond";
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
}

.header__logo:hover {
  color: inherit;
}

.header .container .row {
  height: 5.1875rem;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background-color: #421515;
  color: #fff;
  padding-top: 2.625rem;
  padding-bottom: 5.0625rem;
}

.footer__title {
  font-family: "Cormorant Garamond";
  font-size: 2.625rem;
}

.footer__link:hover {
  color: inherit;
  text-decoration: underline;
}

.page {
  position: relative;
}

.page::before {
  content: "";
  position: absolute;
  top: 30%;
  right: 0;
  width: 153.5px;
  height: 307px;
  background: url("../img/decor.png") 0 0 no-repeat;
}

.image-hover {
  overflow: hidden;
  border-radius: 0.625rem;
}

.image-hover img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.image-hover img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.prewiew h1 {
  text-transform: uppercase;
  line-height: 1;
}

.forecast h5 {
  height: 100%;
}

.forecast a {
  font-size: 1rem;
}

.forecast__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.forecast__item .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.forecast__item .link-line span {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: underline;
}

.forecast__item .link-line span:hover {
  text-decoration: none;
}

.forecast__item .link-line span::after {
  content: ">";
  position: absolute;
  top: 0;
  left: 110%;
}

.forecast__item .row:last-child {
  gap: 0.625rem;
}

.forecast__item.row p {
  margin-bottom: 4.0625pxrem;
}

.rewiews__title {
  font-size: 2rem;
}

.accordion-item,
.accordion-item:first-of-type {
  border: 2px solid #421515 !important;
  background-color: inherit;
  border-radius: 0;
  margin-bottom: 3.4375rem;
}

.accordion-item {
  padding: 1.25rem 0;
}

.accordion-but {
  position: relative;
  width: 100%;
  text-align: left;
  padding: 0.625rem 1.25rem;
  font-weight: 700;
  color: #421515;
}

.accordion-but::before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  top: 0.5rem;
  right: 1.875rem;
  width: 22px;
  height: 22px;
  background: url("../img/plus-icon.svg") 0 0 no-repeat;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.collapsed::before {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

@media (min-width: 47.99875em) {
  .prewiew > div {
    min-height: 23.125rem;
  }

  .forecast h2 {
    padding-right: 1.25rem;
  }

  .forecast__item {
    row-gap: 2.8125rem;
  }

  .forecast__item .row:last-child {
    gap: 2.25rem;
  }
}

@media (max-width: 61.99875em) {
  .title {
    font-size: 2.5rem;
  }

  .page::before {
    opacity: 0.3;
    z-index: -1;
  }
}

@media (max-width: 47.99875em) {
  body {
    font-size: 1rem;
  }

  .title {
    font-size: 2.1875rem;
  }

  .footer {
    padding: 2.8125rem 0;
  }

  .prewiew > div {
    padding: 35px 0;
  }

  .rewiews__title {
    font-size: 1.375rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    color: #fff8f7;
    background-color: #421515;
    opacity: 0.8;
  }

  .button-accent:hover {
    opacity: 0.8;
  }
}